[submodule "battery-widget"]
	path = config/awesome/battery-widget
	url = https://github.com/deficient/battery-widget.git
[submodule "cyclefocus"]
	path = config/awesome/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "redshift"]
	path = config/awesome/redshift
	url = git://github.com/YoRyan/awesome-redshift.git
[submodule "tyrannical"]
	path = config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "volume-control"]
	path = config/awesome/volume-control
	url = https://github.com/deficient/volume-control.git
